<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>
<body>
    <ul>
        <li id="aboutme">About Me</li>
        <li><a href="https://github.com/GulshanSurya">GitHub</a></li>
        <li><a href="www.linkedin.com/in/gulshan-surya-998175226 ">LinkedIn</a></li>
        <li><a href="gulshan7surya7@gmail.com">GMail</a></li>
        <li><a href="#">Contact/Phone</a></li>
    </ul>

    <a href="myprojects"><button type="button" class="btn-btn-">My Projects</button></a><br>
    <a href="internships"><button type="button" class="btn-btn-">Internships</button>
    
</body>
</html>





