<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webdev</title>
    <style>
        body{
            background-image: url('https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHBsYW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
            background-repeat: no-repeat;
            background-size: cover;
        }
        

    </style>

    
</head>
<body>
    <center>
        <h2>My Python-based projects are listed below:</h2>
        <table class="portfolio-3" border="6" cellspacing="2" cellpadding="1">
            <thead>
                <tr>
            <th class="sno">S.No.</th>

            <th>Project Name</th>
            <th>Status</th>
            <th>Technologies Used</th>
            
            <th>Project-link</th>
            <th>GitHub-link</th>
            <th>Short Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="sno"> 1 </td>
                    <td> My Portfoilio </td>
                    <td> Currently Working </td>
                    <td> HTML, CSS, Python, Django </td>
                    
                    <td> My Portfoilio </td>
                    <td> "ncbsucbesbsucbwuhjncjsniuhdiuwhiue" </td>
                    <td> Krte hai </td>
                </tr>

                <tr>
                    <td class="sno"> 2 </td>
                    <td> FrontEnd Simplified</td>
                    <td> Currently Working </td>
                    <td> HTML, CSS, Python, Django </td>
                    
                    <td> My Portfoilio </td>
                    <td> "ncbsucbesbsucbwuhjncjsniuhdiuwhiue" </td>
                    <td> Krte hai </td>
                </tr>

                <tr>
                    <td class="sno"> 3 </td>
                    <td>Virtual Mother </td>
                    <td> Currently Working </td>
                    <td> HTML, CSS, Python, Django, Data-Structures </td>
                    
                    <td> My Portfoilio </td>
                    <td> "ncbsucbesbsucbwuhjncjsniuhdiuwhiue" </td>
                    <td> Krte hai </td>
                </tr>

                <tr>
                    <td class="sno"> 4 </td>
                    <td> Petify </td>
                    <td> Currently Working </td>
                    <td> HTML, CSS, Python, Django, Data-Structures </td>
                    
                    <td> My Portfoilio </td>
                    <td> "ncbsucbesbsucbwuhjncjsniuhdiuwhiue" </td>
                    <td> Krte hai </td>
                </tr>
        </table>

    </center>

</body>
</html>





